# Ignore node_modules and environment files
node_modules/
.env

# Ignore all files inside uploads/posts and uploads/profile_pictures, but keep the directories
uploads/posts/*
uploads/profile_pictures/*

# Allow the folders to be tracked
!uploads/posts/.gitkeep
!uploads/profile_pictures/.gitkeep
../App.js
../README.md
../app.json
../assets/
../babel.config.js
../build_log.txt
../changex.txt
../components/
../context/
../eas.json
../expo/
../index.js
../main.js
../metro.config.js
../path.txt
../startupconnect@1.0.0/
../uploads/

